@import "normalize.css";
@import "typography.css";
@import "styles.css";
@import "button.css";
@import "checkbox.css";
@import "text-fields.css";
@import "dropdown.css";
@import "task-card.css";
@import "switch.css";
@import "sidebar.css";
@import "navbar.css";
@import "modal.css";
@import "main-board.css";

:root {
  --black: #000000;
  --very-dark-grey: #20212c;
  --dark-grey: #2b2c37;
  --lines-dark: #3e3f4e;
  --medium-grey: #828fa3;
  --lines-light: #f4f7fd;
  --white: #ffffff;
  --main-purple: #635fc7;
  --main-purple-hover: #a8a4ff;
  --red: #ea5555;
  --red-hover: #ff9898;
}

body {
  margin: 0;
  background-color: var(--lines-light);
  overflow-x: hidden;
}

.block-level {
  display: block;
}

.collapsible {
  display: none;
}

.board-container {
  display: flex;
  justify-content: left;
  align-items: center;
  height: auto;
}

.content-column {
  margin-left: 24px;
  margin-top: 25px;
}

.content-columns {
  display: flex;
  overflow: scroll;
}

.content-column-title {
  width: 280px;
  margin: 0px;
  margin-bottom: 25px;
  margin-left: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 535;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 2px;
  color: var(--medium-grey);
}

.add-column {
  background: #e9effa;
  cursor: pointer;
  border-radius: 6px;
  width: 280px;
  margin-top: 73px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 24px;
}

.add-column-text {
  color: var(--medium-grey);
}