:root {
  --black: #000000;
  --very-dark-grey: #20212c;
  --dark-grey: #2b2c37;
  --lines-dark: #3e3f4e;
  --medium-grey: #828fa3;
  --lines-light: #f4f7fd;
  --white: #ffffff;
  --main-purple: #635FC7;
  --main-purple-hover: #a8a4ff;
  --red: #ea5555;
  --red-hover: #ff9898;
}

body {
  margin: 0;
  background-color: var(--lines-light);
  overflow-x: hidden;
}

.paragraph-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 450;
  font-size: 14px;
  line-height: 23px;
}

.header-large {
  font-family: "Poppins", sans-serif;
  color: var(--black);
  font-weight: 550;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  word-spacing: -1px;
}

.header-extra-large {
  font-family: "Poppins", sans-serif;
  color: var(--black);
  font-weight: 525;
  font-size: 30px;
  line-height: 23px;
}

.header-medium {
  font-family: "Poppins", sans-serif;
  color: var(--black);
  font-weight: bold;
  font-size: 16.5px;
  line-height: 23px;
}

.show-sidebar {
  position: fixed;
  width: 56px;
  height: 48px;
  left: 0px;
  bottom: 34px;
  border-radius: 0 100px 100px 0;
  background-color: var(--main-purple);
  display: none;
  justify-content: center;
  align-items: center;
}

.show-sidebar-icon {
  width: 20px;
  height: 12.55px;
}

.show-sidebar-expanded {
  display: flex;
}

.nav-bar {
  justify-items: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  padding: 0 15px 0 0;
  height: 97px;
  border-right: 1px solid var(--black);
}

.nav-bar-left {
  display: flex;
  gap: 30px;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 209px;
  height: 97px;
  border-right: 1px solid #e4ebfa;
}

.logo.logo-nav-bar-expanded {
  padding-right: 91px;
}

.nav-bar-right {
  display: flex;
  gap: 10px;
  align-items: center;
}

.nav-bar-text {
  margin: 0px;
}

.board-container {
  display: flex;
  justify-content: left;
  align-items: center;
}

.content-column {
  margin-left: 24px;
  margin-top: 25px;
}

.content-columns {
  display: flex;
}

.content-column-title {
  width: 280px;
  margin: 0px;
  margin-bottom: 25px;
  margin-left: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 535;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 2px;
  color: var(--medium-grey);
}

.task-card {
  background: var(--white);
  box-shadow: 0px 4px 6px rgba(54, 78, 126, 0.101545);
  border-radius: 8px;
  width: 280px;
  padding: 23px 16px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.task-card-subtext-body {
  color: var(--medium-grey);
  margin: 0;
}

.task-card-subtext-header {
  margin: 0;
  margin-bottom: 5px;
}

.add-column {
  background: #e9effa;
  cursor: pointer;
  border-radius: 6px;
  width: 280px;
  margin-top: 73px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-column-text {
  color: var(--medium-grey);
}

.sidebar {
  background: var(--white);
  box-shadow: 0px 4px 6px rgba(54, 78, 126, 0.101545);
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: none;
}

.sidebar-expanded {
  display: flex;
}

.sidebar-top-text {
  color: var(--medium-grey);
  font-weight: 550;
  font-size: 12px;
  letter-spacing: 3px;
  padding-left: 32px;
  padding-top: 15px;
}

.sidebar-btn {
  background-color: var(--white);
  color: var(--medium-grey);
  border-radius: 0px 100px 100px 0px;
  gap: 16px;
  width: 276px;
  display: flex;
  justify-content: left;
}

.sidebar-top-btn-selected {
  background-color: var(--main-purple);
  color: var(--white);
}

.sidebar-top-btn-not-selected:hover {
  background-color: var(--lines-light);
  color: var(--main-purple);
}

.create-new-board {
  color: var(--main-purple);
}

.sidebar-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar-bottom-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--lines-light);
  border-radius: 6px;
  width: 251px;
  height: 48px;
}

.sidebar-btn-hide-sidebar {
  margin-top: 8px;
  margin-bottom: 10px;
  margin-right: 25px;
}

.light-mode-icon {
  margin-right: 10px;
}

.dark-mode-icon {
  margin-left: 10px;
}

.switch {
  position: relative;
  display: flex;
  width: 51px;
  height: 29px;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--main-purple);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider.round:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  border-radius: 100%;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--main-purple);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--main-purple);
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

.slider.round {
  border-radius: 34px;
}

.hide-sidebar-icon {
  padding-left: 15px;
}

.sidebar-bottom-hide-text {
  color: var(--medium-grey);
  font-weight: 500;
}


.modal-background {
  background-color: #00000062;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 1;
  display: none;
}

.modal-background-expanded {
  display: flex;
}

.modal-popup {
  background-color: var(--white);
  border-radius: 6px;
  width: 448px;
  height: auto;
  padding: 32px;
  margin-top: 97px;
  z-index: 2;
}


.modal-subtask-popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-subtask-popup-header-text {
  width: 387px;
  height: 69px;
  overflow: scroll;
  margin: 0;
}

.modal-subtask-popup-header-icon {
  cursor: pointer;
}

.modal-descriptiion {
  word-spacing: 1px;
  color: var(--medium-grey);
  font-weight: 400;
  margin: 24px 0;
}

.modal-subtask-popup-subtext {
  word-spacing: 1px;
  color: var(--medium-grey);
  margin-top: 24px;
}

.modal-subtask-popup-subtasks-checkbox-box {
  background-color: var(--lines-light);
  height: 40px;
  width: 416px;
  border-radius: 4px;
  align-items: center;
  display: flex;
  padding: 0 16px;
  margin-bottom: 8px;
}

.modal-subtask-popup-subtasks-checkbox {
  display: block;
  border-radius: 2px;
  accent-color: var(--main-purple);
}

.modal-subtask-popup-subtasks-checkbox-text {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  margin-left: 16px;
  color: var(--black);
}

.modal-subtask-popup-subtasks-checkbox-text-selected {
  text-decoration-line: line-through;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.status-dropdown {
  height: 40px;
  width: 416px;
  left: 0px;
  top: 23px;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 13px;
}

.modal-new-subtask-popup {
  background-color: var(--white);
  border-radius: 6px;
  width: 448px;
  height: 643px;
  padding: 32px;
  margin-top: 97px;
  z-index: 2;
}

.modal-new-subtask-popup-header {
  font-weight: 500;
  font-size: 18px;
  margin: 0;
  margin-bottom: 24px;
  line-height: 23px;
}

.modal-new-subtask-popup-text {
  margin: 0;
  margin-bottom: 8px;
  color: var(--medium-grey);
}

.modal-new-subtask-popup-input {
  height: 36px;
  width: 416px;
  resize: none;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  line-height: 36px;
  padding-left: 7px;
  border: 1px solid rgba(130, 143, 163, 0.25);
  border-radius: 4px;
  margin-bottom: 24px;
}

.modal-new-subtask-popup-desciption-input {
  height: 92px;
  width: 416px;
  resize: none;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  padding: 10px;
  line-height: 22px;
}

.modal-new-subtask-popup-subtask-input {
  width: 100%;
  margin-bottom: 12px;
}

.modal-new-subtask-popup-subtask {
  display: flex;
  align-items: center;
  justify-content: left;
}

.modal-new-subtask-popup-subtask-icon {
  margin-bottom: 12px;
  margin-left: 16px;
  cursor: pointer;
}

.modal-new-subtask-btn {
  height: 40px;
  font-size: 14px;
  border-radius: 20px;
  margin-bottom: 24px;
  width: 100%;
}

.modal-new-subtask-btn:hover {
  background-color: #c3c0fd;
}

.modal-new-subtask-popup-new-subtask-btn {
  background-color: rgba(99, 95, 199, 0.1);
  color: var(--main-purple);
}

.status-dropdown {
  margin-bottom: 24px;
  width: 100%;
}

