:root {
    --black: #000000;
    --very-dark-grey: #20212c;
    --dark-grey: #2b2c37;
    --lines-dark: #3e3f4e;
    --medium-grey: #828fa3;
    --lines-light: #f4f7fd;
    --white: #ffffff;
    --main-purple: #635fc7;
    --main-purple-hover: #a8a4ff;
    --red: #ea5555;
    --red-hover: #ff9898;
  }

.dropdown-select {
    width: 350px;
    height: 40px;
    padding: 8px 16px;
    border-radius: 4px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    border: 1px solid var(--medium-grey);
}

.dropdown-select:focus {
    border: 1px solid var(--main-purple) ;
}

.dropdown-title {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    color: var(--medium-grey);
    font-weight: 500;
    margin: 0;
    margin-bottom: 8px;
}