:root {
  --black: #000000;
  --very-dark-grey: #20212c;
  --dark-grey: #2b2c37;
  --lines-dark: #3e3f4e;
  --medium-grey: #828fa3;
  --lines-light: #f4f7fd;
  --white: #ffffff;
  --main-purple: #635fc7;
  --main-purple-hover: #a8a4ff;
  --red: #ea5555;
  --red-hover: #ff9898;
}

.sidebar {
  background: var(--white);
  box-shadow: 0px 4px 6px rgba(54, 78, 126, 0.101545);
  width: 300px;
  min-height: 594px;
  align-self: stretch;
  flex-direction: column;
  justify-content: space-between;
  display: none;
  border-right: 1px solid #e4ebfa;
  flex-shrink: 0;
}

.sidebar-top {
  height: 100%;
}

.sidebar--expanded {
  display: flex;
}

.sidebar-header {
  margin-left: 32px;
}

.sidebar-btn {
  justify-content: left;
  padding-left: 12px;
  border-radius: 0 20px 20px 0;
}

.sidebar-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar-bottom-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e4ebfa;
  border-radius: 6px;
  width: 251px;
  height: 48px;
  margin-bottom: 8px;
}

.light-mode-icon {
  margin-right: 10px;
}

.dark-mode-icon {
  margin-left: 10px;
}

.hide-sidebar-icon {
  padding-left: 15px;
}

.sidebar-hide {
  color: var(--medium-grey);
  font-weight: 500;
}

.sidebar-hide:hover {
  background-color: var(--white);
  color: var(--medium-grey);
}

/* Show sidebar */

.show-sidebar {
  display: none;
  position: fixed;
  left: 0px;
  bottom: 80px;
  height: 48px;
  width: 56px;
  border-radius: 0px 100px 100px 0px;
}

.show-sidebar--expanded {
  display: flex;
}

.show-sidebar > * {
  width: 16px;
  height: 10.22px;
}