<div class="modal-background">
    <div class="modal-popup">
      <div class="modal-popup-header">
        <p class="modal-popup-header-text header-medium">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi rem
          delectus adipisci ut molestias reiciendis.
        </p>
        <img
          src="images/icon-vertical-ellipsis.svg"
          alt=""
          class="modal-popup-header-icon"
        />
      </div>
      <p class="modal-popup-descriptiion paragraph-medium">
        Lorem, ipstum dolor sit amet consectetur adipisicing elit. Non ratione
        eos ipsam. Iuso, aperiam aliquid! Lorem ipsum dolor sit amet. Lorem,
        ipsum dolor. Lorem, ipsum.
      </p>
      <p class="modal-popup-subtext paragraph-medium">Subtasks (2 of 3)</p>
      <div class="modal-popup-subtasks-list">
        <div class="modal-popup-subtasks-checkbox-box">
          <input type="checkbox" class="modal-popup-subtasks-checkbox" />
          <p class="modal-popup-subtasks-checkbox-text modal-popup-subtasks-checkbox-text-selected paragraph-medium">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="modal-popup-subtasks-checkbox-box">
          <input type="checkbox" class="modal-popup-subtasks-checkbox" />
          <p class="modal-popup-subtasks-checkbox-text modal-popup-subtasks-checkbox-text-selected paragraph-medium">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="modal-popup-subtasks-checkbox-box">
          <input type="checkbox" class="modal-popup-subtasks-checkbox" />
          <p class="modal-popup-subtasks-checkbox-text paragraph-medium">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
      </div>
      <p class="modal-popup-subtext paragraph-medium">Current Status</p>
      <select name="Status" class="status-dropdown paragraph-medium">
        <option value="To-Do">To-Do</option>
        <option value="Doing">Doing</option>
        <option value="Done">Done</option>
      </select>
    </div>
  </div>